<%- include('partials/header') %>
<%- include('partials/menu') %>
<div class="container">
    <div class="card espaco">
        <div class="card-header">
            <h1>Editar Usuarios</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Cidade</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach((usuario)=>{ %> 
                        <tr>
                            <td><%= usuario.nome %></td>
                            <td><%= usuario.idade %></td>
                            <td><%= usuario.cidade %></td>
                            <td>
                                <a class="btn btn-warning"href="/editarusuario/<%=usuario.id%>">Editar</a>
                            </td>
                        </tr>
                    <%})%>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>

<%- include('partials/footer') %>